[submodule "mcp"]
	path = mcp
	url = git@github.com:StrongAI/claude-skills-writing-mcp.git
[submodule "plans"]
	path = plans
	url = git@github.com:StrongAI/claude-skills-writing-plans.git
[submodule "skills"]
	path = skills
	url = git@github.com:StrongAI/claude-skills-writing-skills.git
