[submodule "mcp"]
	path = mcp
	url = git@github.com:StrongAI/claude-skills-writing-mcp.git
[submodule "plans"]
	path = plans
	url = git@github.com:StrongAI/claude-skills-writing-plans.git
[submodule "skills"]
	path = skills
	url = git@github.com:StrongAI/claude-skills-writing-skills.git
[submodule "literary_style"]
	path = literary_style
	url = git@github.com:StrongAI/claude-skills-writing-literary_style.git
[submodule "conceptual"]
	path = conceptual
	url = git@github.com:StrongAI/claude-skills-writing-conceptual.git
